<ion-view view-title="Mapa">
	<!-- do you want padding? -->
	<ion-content class="map-container">
		<ui-gmap-google-map center='model.map.center' zoom='model.map.zoom'>

                 <ui-gmap-marker ng-repeat="marker in model.markers"
                    coords="marker.coords"
                    options="marker.options"
                    idkey="marker.id"
                    events="marker.events"
                    >
                </ui-gmap-marker>
            </ui-gmap-google-map>
	</ion-content>
</ion-view>
<style>
	.map-container .scroll {
	  height: 100%;
	}
	.angular-google-map-container {
	  height: 100%;
	  width: 100%;
	  position: absolute;
	  top: 0;
	  left: 0;
	}
</style>